@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: black;
    color: white;
}

nav {
    margin-top: 2.78vh;

    display: flex;
    justify-content: space-between;
}

nav .right {
    margin-right: 3.7vw;

    justify-content: space-around;
    display: inline;
}

ul {
    list-style-type: none;
}

li {
    margin: 0.46vh;

    display: inline;
    color: white;
}

.right a {
    font-size: 1.1vw;

    color: white;
    text-decoration: none;
    letter-spacing: 0.05vw;

}

nav .left {
    margin-left: 3.7vw;

    justify-content: space-around;
    display: inline;
    font-size: 1.1vw;

    letter-spacing: 0.05vw;

}

footer {
    position: absolute;
    bottom: 0;
    margin-left: 3.7vw;

}

.contact-logos a {
    color: white;
    font-size: 2.1vw;

    margin: 0.46vh;

}

main {
    position: absolute;
    height: 91vh;
    display: flex;
    align-items: center;
    padding: 0 0.93vw;

}

.home {
    margin-left: 3.7vh;
    font-size: 1.1vw;
    max-width: 50.6vw;
}

.btn button {
    justify-content: center;
    align-items: center;
    margin-right: 2.1vw;
    font-size: 1.3vw;
    margin-top: 1.39vh;
    color: white;
    background: #3b58a7;
    border-color: #3b58a7;
    border-radius: 19.9vw;
    width: 10.9vw;
    height: 149%;
}

.profile {
    display: flex;
    float: right;
    justify-content: right;
}

.home h3 {
    color: #3b58a7;
}

.profile img {
    border: 4px solid #3b58a7;

    border-radius: 50% 20% / 10% 40%;

    width: 32.5vw;


    display: inline-flex;
    justify-content: space-around;
    object-fit: cover;
}

a:after {
    content: "";
    position: absolute;
    background-color: #3b58a7;
    height: 0.28vh;
    width: 0;
    left: 0;
    bottom: -0.93vh;
    transition: 0.3s;
}

a:hover {
    color: white;
}

a:hover:after {
    width: 100%;
}